
 .page-id-75 .footer-top-inner, .page-id-409 .footer-top-inner{ border-top: 0px; padding-top:10px; } 

.page-id-411 .footer-top-inner, .page-id-182 .footer-top-inner{ border-top: 0px;}
@media only screen and (min-height: 830px){
     .page-id-409 .site-info.footer-bottom{position: fixed; width: 100%; bottom: 0; left: 0;}
}

/*max logo width for some pages*/
@media only screen and (min-width: 641px){
  .page-id-411 .site-logo img, .page-id-182 .site-logo img{width: 166px !important;}
}
#text-5 .widget-title{ text-align: center; }
/*for home page 4 images*/

     .home-brands .columns{ margin-top: 60px; }

@media only screen and (max-width: 1023px){
     .home-brands{ text-align:center; }
}
@media only screen and (min-width: 1024px){
	.large-align-left { text-align: left; }

	.large-align-right { text-align: right; }

	.large-align-center { text-align: center; }
}

/*home 2 footer widgets margin top*/
.page-id-102 .flo-widget-title-img{ margin-top: 30px; }

/*logo position for Home 2*/
.page-id-102 .crowd-site-identity.top-left{
     top: 35px;
    left: 10%;
}
@media only screen and (max-width: 1024px){
     .page-id-102 .crowd-site-identity.top-left{
         left: 15px;
    }
} 
@media only screen and (min-width: 1600px){
     .page-id-102 .crowd-site-identity.top-left{
           left: 20%;
    } 

}

@media only screen and (max-width: 640px){
.textwidget .wraper_about .inner_about {
  padding: 35px 10px 40px 10px;
  font-size: 0.6em;
}

.textwidget .wraper_about .inner_about a.about_button {
    top: 65px;
}
.site-identity {

    padding-bottom: 5px;
}
.site-identity.site-logo {
    padding-top: 10px;
}
}

.wraper_about
{
  background-size: cover;
  padding: 10% 10%;
  background-position: center center;
  background-repeat: no-repeat;
  
}
.wraper_about .inner_about
{
padding: 90px 91px 140px;
  background-color: #fff;
  text-align: center;
  width: 70%;
  margin: 0px auto;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.22);
}
.wraper_about .inner_about a.about_button
{
 position: relative;
  display: block;
  top: 70px;
  color: #222223;
  margin: 0px auto;
  width: 97px;
    font-size: 13px;
  font-family: "Bauer Bodoni Std Italic";
  line-height: 40px;
}
.wraper_about .inner_about a.about_button:before
{
  content: '';
  position: absolute;
  top: -5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #FFFFFF, #7e7e7e);
  right: 0px;
}
.wraper_about .inner_about a.about_button:after
{
  content: '';
  position: absolute;
  top: -7px;
  width: 92%;
  height: 2px;
  right: 0px;
  background: linear-gradient(to right, #FFFFFF, #7e7e7e);
}

.footer-sidebar .widget-delimiter
{
  
width: 65px;
  height: 2px;
  background: linear-gradient(to right, #FFFFFF, #7e7e7e)!important;  
}
.flo-instagram_widget
{
   margin-top: 100px;   
}
.copy .widget 
{
    display: inline-block;
  float: left;
 height: 40px;
}
.copy .copyright
{
    display: inline-block;
  float: right;
    display: inline-block;

  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.copy .widget  #keywords
{
    border: none;
  border-bottom: 1px dashed #a8a8a8;
}

a.slide-down.icon.icon-small-arrow {
  z-index: 25;
  position: absolute;
  left: calc(50% - 40px);
  bottom: 20%;
  width: 26px;
  height: 26px;
 background:url(/img/icons/slider_button.png);
}

.widget_search fieldset {
    margin: 0px;
}

.footer-bottom a, .footer-bottom span, .footer-bottom p, .footer-bottom div, .footer-bottom span {
    font-size: 10px;
    text-transform: uppercase;
}
@media only screen and (min-width:768px) {
.primary-navigation ul li ul, .crowd-full-screen .children {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.22);
}
}
.widget-title {
   text-transform:none;
}

@media only screen and (max-width:767px) {
.wraper_about {
    padding: 10% 3%;
}
.wraper_about .inner_about {
    width: 90%;
}
.copy .widget {
    margin: 0 auto;
    display: block;
    position: relative;
    float: none;
    max-width: 240px;
}
.copy .copyright {
    float: none;
    text-align: center;
}
}