/*-----------------------------------------------------------------------------------*/
/*	Column Styles
/*-----------------------------------------------------------------------------------*/

.cosmo-one-half { width: 50%; }
.cosmo-one-third { width: 33.33%; }
.cosmo-two-third { width: 66.66%; }
.cosmo-one-fourth { width: 25%; }
.cosmo-three-fourth { width: 75%; }
.cosmo-one-fifth { width: 20%; }
.cosmo-two-fifth { width: 40%; }
.cosmo-three-fifth { width: 60%; }
.cosmo-four-fifth { width: 80%; }
.cosmo-one-sixth { width: 16.66%; }
.cosmo-five-sixth { width: 83.33%; }

.cosmo-one-half,
.cosmo-one-third,
.cosmo-two-third,
.cosmo-three-fourth,
.cosmo-one-fourth,
.cosmo-one-fifth,
.cosmo-two-fifth,
.cosmo-three-fifth,
.cosmo-four-fifth,
.cosmo-one-sixth,
.cosmo-five-sixth {
	position: relative;
	/*margin-right: 4%;*/
	float: left;
	line-height: 1.8;
}

.cosmo-column-last {
	margin-right: 0!important;
	clear: right;
}

/*-----------------------------------------------------------------------------------*/
/*	Button Styles
/*-----------------------------------------------------------------------------------*/

a.cosmo-button,
a.cosmo-button:visited {
	display: inline-block;
	color: #fff!important;
	text-decoration: none!important;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	font-size: 14px;
	outline: none;
	font-weight: bold;
	line-height: 1em;
	padding: 7px 13px!important;
	cursor: pointer;
	border-radius: 16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-o-border-radius: 16px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #0d507a!important;
	margin: 0 0.1em 1.5em 0!important;
	vertical-align: middle;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
	
a.cosmo-button.square {
	border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
}
	
a.cosmo-button.medium {
	padding: 11px 16px!important;
	font-size: 16px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
}

a.cosmo-button.large {
	padding: 15px 20px!important;
	font-size: 18px;
	border-radius: 20px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius: 25px;
}

a.cosmo-button:hover {
	text-decoration: none;
}
	
a.cosmo-button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
}
	
a.cosmo-button.green {
	border-color: #69963b!important;
	background: #7fc33c;
		background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
		background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
		background: -moz-linear-gradient(top, #b1d960, #7fc33c);
		background: -ms-linear-gradient(top, #b1d960, #7fc33c);
		background: -o-linear-gradient(top, #b1d960, #7fc33c);
}
	
a.cosmo-button.green:hover {
	background: #8dd242;
		background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
		background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
		background: -moz-linear-gradient(top, #b9e46a, #8dd242);
		background: -ms-linear-gradient(top, #b9e46a, #8dd242);
		background: -o-linear-gradient(top, #b9e46a, #8dd242);
}
	
a.cosmo-button.light-blue {
	border-color: #2681a2!important;
	background: #2caada;
		background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
		background: -webkit-linear-gradient(top, #46cae8, #2caada);
		background: -moz-linear-gradient(top, #46cae8, #2caada);
		background: -ms-linear-gradient(top, #46cae8, #2caada);
		background: -o-linear-gradient(top, #46cae8, #2caada);
}

a.cosmo-button.light-blue:hover {
	background: #32bcef;
		background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
		background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
		background: -moz-linear-gradient(top, #50d6f5, #32bcef);
		background: -ms-linear-gradient(top, #50d6f5, #32bcef);
		background: -o-linear-gradient(top, #50d6f5, #32bcef);
}

a.cosmo-button.blue {
	border-color: #0d507a!important;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
	
a.cosmo-button.blue:hover {
	background: #1188d6;
		background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
		background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
		background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
		background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
		background: -o-linear-gradient(top, #1bb6e6, #1188d6);
}

a.cosmo-button.red {
	border-color: #ab4b44!important;
	background: #e3514a;
		background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
		background: -webkit-linear-gradient(top, #ed8376, #e3514a);
		background: -moz-linear-gradient(top, #ed8376, #e3514a);
		background: -ms-linear-gradient(top, #ed8376, #e3514a);
		background: -o-linear-gradient(top, #ed8376, #e3514a);
}
	
a.cosmo-button.red:hover {
	background: #ff5e56;
		background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
		background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
		background: -moz-linear-gradient(top, #ff988c, #ff5e56);
		background: -ms-linear-gradient(top, #ff988c, #ff5e56);
		background: -o-linear-gradient(top, #ff988c, #ff5e56);
}
	
a.cosmo-button.orange {
   border-color: #dc9014!important;
   background: #ffb031;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
		background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
		background: -moz-linear-gradient(top, #ffce4f, #ffb031);
		background: -ms-linear-gradient(top, #ffce4f, #ffb031);
		background: -o-linear-gradient(top, #ffce4f, #ffb031);
}
	
a.cosmo-button.orange:hover {
   background: #ffc531;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
		background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
		background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
		background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
		background: -o-linear-gradient(top, #ffdb4f, #ffc531);
}

a.cosmo-button.purple {
   border-color: #996192!important;
   background: #d17ac6;
		background: -webkit-gradient(linear, left top, left bottom, from(#e3acdc), to(#d17ac6));
		background: -webkit-linear-gradient(top, #e3acdc, #d17ac6);
		background: -moz-linear-gradient(top, #e3acdc, #d17ac6);
		background: -ms-linear-gradient(top, #e3acdc, #d17ac6);
		background: -o-linear-gradient(top, #e3acdc, #d17ac6);
}
	
a.cosmo-button.purple:hover {
   background: #eb90e0;
		background: -webkit-gradient(linear, left top, left bottom, from(#f3baec), to(#eb90e0));
		background: -webkit-linear-gradient(top, #f3baec, #eb90e0);
		background: -moz-linear-gradient(top, #f3baec, #eb90e0);
		background: -ms-linear-gradient(top, #f3baec, #eb90e0);
		background: -o-linear-gradient(top, #f3baec, #eb90e0);
}
	
a.cosmo-button.grey {
	color: #555!important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-color: #acacac!important;
	background: #e5e5e5;
		background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
		background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
		background: -moz-linear-gradient(top, #efefef, #e5e5e5);
		background: -ms-linear-gradient(top, #efefef, #e5e5e5);
		background: -o-linear-gradient(top, #efefef, #e5e5e5);
}
	
a.cosmo-button.grey:hover {
	background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f6f6f6));
		background: -webkit-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -ms-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -o-linear-gradient(top, #fcfcfc, #f6f6f6);
}
	
a.cosmo-button.black {
	border-color: #323232!important;
	background: #444444;
		background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
		background: -webkit-linear-gradient(top, #6c6c6c, #444444);
		background: -moz-linear-gradient(top, #6c6c6c, #444444);
		background: -ms-linear-gradient(top, #6c6c6c, #444444);
		background: -o-linear-gradient(top, #6c6c6c, #444444);
}
	
a.cosmo-button.black:hover {
	background: #575757;
		background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
		background: -webkit-linear-gradient(top, #8d8d8d, #575757);
		background: -moz-linear-gradient(top, #8d8d8d, #575757);
		background: -ms-linear-gradient(top, #8d8d8d, #575757);
		background: -o-linear-gradient(top, #8d8d8d, #575757);
}

/*-----------------------------------------------------------------------------------*/
/*	Alert Styles
/*-----------------------------------------------------------------------------------*/

.cosmo-alert {
    padding: 0.8em;
    margin: 0 0 1.5em 0;
    line-height: 1.6em;
    border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
}

.cosmo-alert.white {
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #373737;
}

.cosmo-alert.red {
    background: #ffe6e3;
    border: 1px solid #f2c3bf;
    color: #bf210e;
}

.cosmo-alert.yellow {
    background: #fff7d6;
    border: 1px solid #e9d477;
    color: #956433;
}

.cosmo-alert.green {
    background: #edfdd3;
    border: 1px solid #c4dba0;
    color: #657e3c;
}
	
.cosmo-alert.grey {
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    color: #373737;
}

/*-----------------------------------------------------------------------------------*/
/*	Tab Styles
/*-----------------------------------------------------------------------------------*/

.cosmo-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.cosmo-tabs {
	background: none;
	margin: 0 0 2em 0;
}

.cosmo-tabs .cosmo-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
}

.cosmo-tabs .cosmo-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
}
	

.cosmo-tabs .cosmo-nav li a {
	border: 1px solid #dfdfdf!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 10px 0 10px;
	height: 26px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
}
	
.cosmo-tabs .cosmo-nav li a:hover {
	background: #fff!important;
	margin: 0!important;
}

.cosmo-tabs .cosmo-nav .ui-tabs-selected a,
.cosmo-tabs .cosmo-nav .ui-tabs-active a {
	height: 27px;
	background: #fff;
}

.cosmo-tabs .cosmo-tab {
	background: #fff;
	padding: 10px;
	border: 1px solid #dfdfdf;
}

/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/

.cosmo-toggle { margin: 0 0 2em 0; }
.cosmo-toggle-inner{ line-height: 1.8em; }
.cosmo-toggle .cosmo-toggle-title {
	display: block;
	padding: 10px 10px 10px 30px; 
	background: #FBFBFB;
	border: 1px solid #dfdfdf;
	cursor: pointer;
	outline: none;
	position: relative;
}
	
.cosmo-toggle .cosmo-toggle-title:hover { border: 1px solid #c5c5c5; }

.cosmo-toggle-inner {
	padding: 10px;
	background: #fff;
	border: 1px solid #dfdfdf;
	border-top: none;
}

.cosmo-toggle span.ui-icon {
    background: url(../images/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin: -6px 0 0 0;
}

.cosmo-toggle .ui-state-active .ui-icon { background: url(../images/toggles/toggle-open.png) no-repeat; }

/* Clearfix */
.cosmo-clearfix:before,
.cosmo-clearfix:after { content:""; display:table; }
.cosmo-clearfix:after { clear: both; }
.cosmo-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/*.cosmo-grid-view .cosmo-column-last{clear: right;}*/
.cosmo-grid-view .cosmo-column-first, .cosmo-thumb-view .cosmo-column-first{clear: left;}

/* <768px width */
@media only screen  and (max-width: 768px){
	.cosmo-grid-view .cosmo-one-half,.cosmo-grid-view .cosmo-one-third, .cosmo-grid-view .cosmo-one-fourth,.cosmo-grid-view .cosmo-one-fifth,.cosmo-grid-view .cosmo-one-sixth,
	.cosmo-thumb-view .cosmo-one-half,.cosmo-thumb-view .cosmo-one-third, .cosmo-thumb-view .cosmo-one-fourth,.cosmo-thumb-view .cosmo-one-fifth,.cosmo-thumb-view .cosmo-one-sixth{	
		width: 100%;
	}
	
	 .cosmo-one-half, .cosmo-one-third, .cosmo-two-third,  .cosmo-one-fourth, .cosmo-three-fourth, .cosmo-one-fifth, .cosmo-two-fifth, .cosmo-three-fifth, .cosmo-four-fifth, .cosmo-one-sixth,
	.cosmo-thumb-view .cosmo-one-half,.cosmo-thumb-view .cosmo-one-third, .cosmo-thumb-view .cosmo-one-fourth,.cosmo-thumb-view .cosmo-one-fifth,.cosmo-thumb-view .cosmo-one-sixth{	
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
	}
}

/* <768px width */
/*@media only screen  and (max-width: 600px){
	 .cosmo-one-half, .cosmo-one-third, .cosmo-two-third,  .cosmo-one-fourth, .cosmo-three-fourth, .cosmo-one-fifth, .cosmo-two-fifth, .cosmo-three-fifth, .cosmo-four-fifth, .cosmo-one-sixth,
	.cosmo-thumb-view .cosmo-one-half,.cosmo-thumb-view .cosmo-one-third, .cosmo-thumb-view .cosmo-one-fourth,.cosmo-thumb-view .cosmo-one-fifth,.cosmo-thumb-view .cosmo-one-sixth{	
		width: 100%;
	}
}*/

.cosmo-list-posts.pag{clear: both}

.cosmo-team-member .featimg{
	text-align: center;
	margin-bottom: 15px;
}
.cosmo-team-member .featimg img{
	max-width: 100%;
}
.cosmo-team-member .entry-content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cosmo-team-member .entry-content ul h4{
	margin: 0 0 10px 0;
}
.cosmo-team-member .entry-content .entry-content-job{
	font-style: italic;
	opacity: 0.6;
	margin-bottom: 15px;
	margin-top: 0;
}
.cosmo-team-member .entry-content .entry-content-desc{
	margin-bottom: 15px;
}


.cosmo-contact-form label{display:block;}

.cosmo-contact-form .invalid {
	border: 1px solid red !important;
}
.cosmo-box.padded{
	padding: 60px 30px;
}
.cosmo-box p, .cosmo-box h1, .cosmo-box h2, .cosmo-box h3, .cosmo-box h4, .cosmo-box h5, .cosmo-box h6{
	color: inherit;
}
.cosmo-box .row, .row .cosmo-box .row{
	margin: 0 auto;
	width: 1140px;
	color: inherit;
	max-width: 100%;
}
.cosmo-contact-form{
	margin: 0 -15px;
}
.cosmo-contact-form > p {
    clear: none;
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-right: -4px;
    padding: 0 15px;
    width: 50%;
}
.cosmo-contact-form p.form-submit{
	margin-top: 28px;
}
#cosmo_contact_response {
    clear: both;
    margin: 0 15px;
}
#cosmo_contact_response p{
	margin: 0;
}
.cosmo-contact-form #cosmo-send-msg{
	background: transparent;
	border: 0 none;
	height: auto;
	display: inline;
	box-shadow: none;
	padding: 0;
	font-size: 16px;
}

/*image & text*/

.flo-img-text { position: relative; width: 100%; display: inline-block;}
.flo-img-text.image-right .text-wrapper{ padding: 30px; padding-left: 0px; 
	box-sizing: border-box; 
	-moz-box-sizing:border-box; /* Firefox */ 
	-ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
}
.flo-img-text.image-left .text-wrapper{ padding: 30px; padding-right: 0px; 
	box-sizing: border-box; 
	-moz-box-sizing:border-box; /* Firefox */ 
	-ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
}
@media only screen  and (max-width : 767px) {
	.flo-img-text .text-wrapper, .flo-img-text .image-wrapper{ width: 100% !important; }
	.flo-img-text .text-wrapper{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.shcode-code {font-family: 'Courier New'; }
.hidden{display: none;}